<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  

    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    
</head>

<body>

    <div class="jumbotron text-center">
        <h1>Watershed Application</h1>
        <p>Detail view</p>
    </div>
    <div class="container-fluid">
      
    
    <div class="row">    
    <!--Detail view-->
    
        <div class="page-header text-center">
          <h1>{{ watershed.name }}</h1>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="panel panel-primary">
            <!-- Default panel contents -->
                <div class="panel-heading text-center">Watershed Information</div>
                <table class="table table-striped table-condensed">
                        {% for name, value in watershed.attrs %}
                         <tr>
                            <td class="text-right"><strong>{{name}}</strong></td> 
                            <td>{{value}}</td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
        </div>

         <!--Other Info-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
           <div role="tabpanel">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active">
                          <a href="#features" aria-controls="Features" role="tab" data-toggle="tab">Features</a>
                      </li>
                      <li role="presentation">
                          <a href="#maintenance" aria-controls="maintenance" role="tab" data-toggle="tab">Maintenance</a>
                      </li>
                        <li role="presentation">
                          <a href="#Observation" aria-controls="Observation" role="tab" data-toggle="tab">Observation</a>
                      </li>
                      <li role="presentation">
                          <a href="#floraAndfauna" aria-controls="floraAndfauna" role="tab" data-toggle="tab">F - F</a>
                      </li>
                      <li role="presentation">
                          <a href="#WatershedPipe" aria-controls="WatershedPipe" role="tab" data-toggle="tab">Pipe</a>
                      </li>
                  </ul>
              
                  <!-- Tab panes -->
                  <div class="tab-content">
                      <!-- features -->
                      <div role="tabpanel" class="tab-pane fade active" id="features">
                        {% if manMadeFeatures  or naturalFeatures %}
                          <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>Name</th>
                                  <th>Type</th>
                                  <th> More info</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% if manMadeFeatures %}
                                  {% for item in manMadeFeatures %}
                                    <tr>
                                      <td>{{ item.name }}</td>
                                      <td>Man Made</td>
                                      <td>
                                        <a href="{% url 'watershed:detail_manmadefeature' item.featureID %}" class="btn btn-info btn-xs active" role="button"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>

                                      </td>
                                    </tr>
                                  {% endfor %}
                                {% else %}
                                  {% if naturalFeatures %}
                                    {% for item in naturalFeatures %}
                                    <tr>
                                      <td>{{ item.name }}</td>
                                      <td>Natural</td>
                                      <td>
                                        <a href="{% url 'watershed:detail_manmadefeature' item.featureID %}" class="btn btn-info btn-xs active" role="button"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>

                                      </td>
                                    </tr>
                                    {% endfor %}
                                  {% endif %}
                                {% endif %}
                              </tbody>
                          </table>
                        {% else %}
                          <p class="lead"> No features  for this watershed </p>
                        {% endif %}
                      
                      </div>

                      <!-- Maintenace Info -->
                      <div role="tabpanel" class="tab-pane fade" id="maintenance">
                          {% if maintenance %}
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>Issue</th>
                                  <th>Cost</th>
                                  <th>Status</th>
                                  <th> More info</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for item in maintenance %}
                                    <tr>
                                      <td>{{ item.issue }}</td>
                                      <td>{{ item.cost }}</td>
                                      <td>{{ item.status }}</td>
                                      <td>
                                        <a href="{% url 'watershed:detail_maintenance' item.maintenanceID %}" class="btn btn-info btn-xs active" role="button"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>

                                      </td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          {% else %}
                                <p class="lead"> No Maintenance record for this watershed </p>
                          {% endif %}
                      </div>

                      <!--Observations -->
                      <div role="tabpanel" class="tab-pane fade" id="Observation">
                        {% if observationV %}
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>test type</th>
                                  <th>Date</th>
                                  <th>sublocation</th>
                                  <th> More info</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for item in observationV %}
                                    <tr>
                                      <td>{{ item.testType }}</td>
                                      <td>{{ item.date }}</td>
                                      <td>{{ item.sublocation }}</td>
                                      <td>
                                        <a href="{% url 'watershed:detail_observation' item.observationID %}" class="btn btn-info btn-xs active" role="button"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>

                                      </td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        {% else %}
                                <p class="lead"> No Observations record for this watershed </p>
                        {% endif %}
                      </div>

                      <!--Flora and Fauna -->
                      <div role="tabpanel" class="tab-pane fade" id="floraAndfauna">
                        {% if FloraAndFauna %}
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>Native</th>
                                  <th>Description</th>
                                  <th>URL</th>
                                  <th> More info</th>

                                </tr>
                              </thead>
                              <tbody>
                                {% for item in FloraAndFauna %}
                                    <tr>
                                      <td>{{ item.isNative }}</td>
                                      <td>{{ item.description }}</td>
                                      <td>{{ item.photoUrl }}</td>
                                      <td>
                                        <a href="{% url 'watershed:detail_ffinfo' item.ffInfoID %}" class="btn btn-info btn-xs active" role="button"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>

                                      </td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        {% else %}
                                <p class="lead"> No Flora or Fauna record for this watershed </p>
                        {% endif %}
                      </div>


                      <!--Watershed_Pipe_Connection -->
                      <div role="tabpanel" class="tab-pane fade" id="WatershedPipe">
                        {% if WPConnection %}
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>WatershedID</th>
                                  <th>PipeID</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for item in WPConnection %}
                                    <tr>
                                    </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        {% else %}
                                <p class="lead"> No pipe record for this watershed </p>
                        {% endif %}
                      </div>


                  </div>
            </div>   
        </div>

        <!--Image-
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <img src="{{ watershed.watershed_logo }}" height="200px" width="100%">     
        </div>-->

        <!--Map-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
<style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Watershed Management" src="//www.arcgis.com/apps/Embed/index.html?webmap=5a32e76dca6549b9b4d9ba7ac0e52f22&amp;extent=-80.1426,37.7691,-74.3857,39.7732&amp;zoom=true&amp;scale=true&amp;disable_scroll=true&amp;theme=light"></iframe></div>
        </div>
    
    
    <br>
    <br>
    <br>

    </div>
    <br>
    <br>
    
    




<!--Javascript code-->
{% block js %}
    <script>
    function initMap() {
        var urlMap = {lat: 12.927923, lng: 77.627108};
        var uluru = {lat: 12.927823, lng: 77.627208};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: urlMap
        });

        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          title: "Deer 1",
        });
    }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiw0iU0egdeVrOKboOOZ2n1WXS3Os0WgI&callback=initMap"></script>

{% endblock %}
</body>
</html>