<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>{{ type }} Application</h1>
        <p>List of {{ type}}</p>
    </div>

    <div class="container-fluid">
       <form action="" method="POST" role="form">
              <legend>Enter the {{ type }} Data:</legend>
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="form-group">
                  {{ field.errors }}
                  <label>{{ field.label }}</label>
                  {{ field }}
                </div>
                {% endfor %}
              
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>   
    </div>

</body>
</html>