<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

    {% if all_watershed %}
    <ul>
        {% for watershed in all_watershed %}
        <li> <a href="{% url 'watershed:detail' watershed.id %}"> {{ watershed.watershedID }} </a> </li>
        {% endfor %}
    </ul>
    {% else %}
        <h2> You have no watersheds in your database </h2>
    {% endif %}

    <h1> <a href="{% url 'watershed:add-watershed' %}"> Add Watershed </a> </h1>

</body>
</html>