<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
        <h1>Watershed Application</h1>
        <p>List of Watersheds</p>
</div>

<div class="container-fluid">
    <!--Button for Adding Watershed-->
    <a href="{% url 'watershed:watershed_new' %}" class="btn btn-primary btn-lg active btn-block text-center" role="button" aria-pressed="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Watershed</a>



  <h3>Index View:</h3>
    {% if all_watershed %}
    <div class="list-group">
        {% for watershed in all_watershed %}
        <div class="list-group-item">
            <a href="{% url 'watershed:detail' watershed.watershedID %}" class="h4">{{ watershed.name }}</a>
            
            <span class="pull-right">
                <a class="btn btn-xs btn-warning" href="{% url 'watershed:watershed_update' watershed.watershedID %}">
                    <span class="glyphicon glyphicon-pencil"> Edit watershed</span>
                </a>
                <a class="btn btn-xs btn-danger" href="{% url 'watershed:watershed_delete' watershed.watershedID %}">
                    <span class="glyphicon glyphicon-trash"> Delete watershed</span>
                </a>
            </span>
                
            
        </div>
        {% endfor %}
    </div>
     {% else %}
        <h2> You have no watersheds in your database </h2>
    {% endif %}
</div>

<div class="container-fluid">
    <!--Button for Adding Watershed-->
    <a href="{% url 'watershed:florafauna_new' %}" class="btn btn-primary btn-lg active btn-block text-center" role="button" aria-pressed="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add FloraFauna</a>

  <h3>FloraFauna:</h3>
    {% if all_florafauna %}
    <div class="list-group">
        {% for florafauna in all_florafauna %}
        <div class="list-group-item">
            <a href="{% url 'watershed:detail_florafauna' florafauna.florafaunaID %}" class="h4">{{ florafauna.name }}</a>

            <span class="pull-right">
                <a class="btn btn-xs btn-warning" href="{% url 'watershed:florafauna_update' florafauna.florafaunaID %}">
                    <span class="glyphicon glyphicon-pencil"> Edit florafauna</span>
                </a>
                <a class="btn btn-xs btn-danger" href="{% url 'watershed:florafauna_delete' florafauna.florafaunaID %}">
                    <span class="glyphicon glyphicon-trash"> Delete florafauna</span>
                </a>
            </span>


        </div>
        {% endfor %}
    </div>
     {% else %}
        <h2> You have no florafaunas in your database </h2>
    {% endif %}
</div>



<div class="container-fluid">
    <!--Button for Adding Watershed-->
    <a href="{% url 'watershed:maintenance_new' %}" class="btn btn-primary btn-lg active btn-block text-center" role="button" aria-pressed="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Maintenance</a>

    <h3>Maintenance:</h3>
    {% if all_maintenance%}
    <div class="list-group">
        {% for item in all_maintenance %}
        <div class="list-group-item">
            <a href="{% url 'watershed:detail_maintenance' item.maintenanceID %}" class="h4">{{ item.issue }}</a>

            <span class="pull-right">
                <a class="btn btn-xs btn-warning" href="{% url 'watershed:maintenance_update' item.maintenanceID %}">
                    <span class="glyphicon glyphicon-pencil"> Edit Maintenance</span>
                </a>
                <a class="btn btn-xs btn-danger" href="{% url 'watershed:maintenance_delete' item.maintenanceID %}">
                    <span class="glyphicon glyphicon-trash"> Delete Maintenance</span>
                </a>
            </span>


        </div>
        {% endfor %}
    </div>
     {% else %}
        <h2> You have no Maintenance in your database </h2>
    {% endif %}
</div>



</body>
</html>

